WINDOW_SIZE=10
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiZXhwIjoxNzE1MTQ3NDk1LCJpYXQiOjE3MTUxNDcxOTUsImlzcyI6IkFmZm9yZG1lZCIsImp0aSI6IjliOTIwNzViLWQ4ZDUtNDkzNS04OTgwLWViMzFhNjljYzlmMiIsInN1YiI6IjIxMDUwNjhAa2lpdC5hYy5pbiJ9LCJjb21wYW55TmFtZSI6IlNoaXZhbSBKaGEiLCJjbGllbnRJRCI6IjliOTIwNzViLWQ4ZDUtNDkzNS04OTgwLWViMzFhNjljYzlmMiIsImNsaWVudFNlY3JldCI6IkVSVVlnemF3Tm1CQ2JvclMiLCJvd25lck5hbWUiOiJTaGl2YW0gSmhhIiwib3duZXJFbWFpbCI6IjIxMDUwNjhAa2lpdC5hYy5pbiIsInJvbGxObyI6IjIxMDUwNjgifQ.bGoLedT6KUyA2e93yGPgvdH7mXH4mtN7xY9JAHPOvaU